<!--Banner-->
<div class="banner-wrapper">
<div class="container" style="background-image:url(assets/images/cater-banner.jpg)">
  <h1><span>choose how to pay</span></h1>
  <!--<div class="leftButtons buttons hidden-md hidden-lg"><a href="#" class="whiteBtn cta-btn">Quick View</a><span class="cost">84 {{currencyCode}}</span><a href="#" class="greenBtn cta-btn hidden-xs">Checkout</a><a href="#" class="greenBtn cta-btn visible-xs btn-sm">Checkout</a> </div>-->
  <!--<div class="leftButtons searchBox">
    <input type="text" class="form-control" placeholder="">
    <button class="icon-search"></button>
  </div>-->
  </div>
</div>
 <div class="clearfix"></div>

<ng-container *ngIf="showLoading">
  <div class="spinner">
      <div class="cube1 icon icon-pizza-icon"></div>
      <div class="cube2 icon icon-pizza-icon"></div>
  </div>
</ng-container>

<!--Inside Sections-->
<div class="container-fluid">
  <div class="col-md-12 steprow text-center">
      <ul>
        <li><small>1</small> Check your order</li>  
        <li class="active"><small>2</small> Checkout</li>  
        <li><small>3</small> Complete your order</li>  
      </ul>  
  </div>

 <div class="col-md-12 stepboxes">
  <div class="row" >
      <div class="col-md-4 col-sm-4">
         <h3 class="green-title">payment summary</h3>
         <div class="dottedlist_box">
            <ul class="dotted-list">
                <li>Coupon discount<span>{{couponDiscount}}</span></li>
                <li>Sub total<span>{{netCost}}</span></li> 
                <li>VAT included<span>00.00</span></li> 
                <li *ngIf="orderData.order_type=='delivery'">Delivery charge<span>6.00</span></li> 
            </ul>
             <div class="grand-total">
                Grand total <span>{{currencyCode}} {{totalCost}}</span>
             </div>
             <address class="delivery_addrs" *ngIf="orderData.order_type == 'delivery'">
                <h4>delivery address</h4>
                <p><strong>{{orderData.user.first_name}} {{orderData.user.last_name}}<br></strong>
                {{orderData.address.apartment}}, {{orderData.address.street_no}}<br>
                {{orderData.address.street}} {{orderData.address.city}}<br>
                {{orderData.address.state}} - {{orderData.address.postal_code}}<br>
                Phone: {{orderData.user.phone}}</p>
             </address>
         </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <h3 class="green-title">choose how to pay</h3>
        <div class="payment_method">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"> <a href="#cd-cards" aria-controls="cd-cards" role="tab" data-toggle="tab">Online Payment</a> </li> 
                <li role="presentation"> <a href="#cod" aria-controls="cod" role="tab" data-toggle="tab">Pay on Delivery</a> </li> 
                
            </ul>
            <div class="tab-content three-column-wrapper">
                <div role="tabpanel" class="tab-pane fade inside-column-container" id="cod">
                <a *ngIf="showPlaceOrder" class="btn-red btn-block" (click)="placeOrder()">Continue</a>
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="cd-cards">
                    <h5>
                      Credit/debit card details
                      <img src="assets/images/payment-icon.png" style="margin-left:10px; " />
                    </h5>
                    <form>
                    <fieldset>
                    <div class="row col-md-12 card-no">
                      <label>Card number</label>
                      <span><input type="text" placeholder="Enter card number"></span>
                      </div>
                      <div class="row col-md-8">
                      <label>Expiration date</label>
                      <span><input type="text" class="half" placeholder="Month"><input type="text" class="half" placeholder="Year"></span>
                      </div>
                      <div class="row col-md-4">
                      <label>CVV code <img src="assets/images/info-icon.png" /></label>
                      <span><input type="text" placeholder="CVV/CVC"></span>
                      </div>
                      <div class="row col-md-12">
                      <label>Card holder name</label>
                      <span><input type="text" placeholder="Enter card holder name"></span>
                      </div>
                      <div class="row col-md-12">
                      <label>Postal code</label>
                      <span><input type="text" placeholder="Enter postal code"></span>
                      </div>
                      <div class="row col-md-12 submit">
                        <a *ngIf="showPlaceOrder" class="btn-red btn-block" (click)="placeOrder()">Submit</a>
                      </div>
                      </fieldset>
                    </form>
                </div>
            </div>
        </div>
      </div>
  </div>
 </div> 
</div>
